<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inet.code.mapper.RoleMapper">

    <!--通过用户主键获取到用户的序号-->
    <select id="selectByUserId" resultType="com.inet.code.entity.role.po.Role">
        SELECT
            roles.id AS id,
            roles.role_name AS roleName
        FROM tbl_role AS roles
        LEFT JOIN tbl_user_role AS userRole ON userRole.role_id = roles.id
        WHERE userRole.user_id = #{userId}
        LIMIT 1;
    </select>
    <!--通过角色名字获取角色实体类-->
    <select id="selectByRoleName" resultType="com.inet.code.entity.role.po.Role">
        SELECT
            roles.id AS id,
            roles.role_name AS roleName,
            roles.gmt_create AS gmtCreate,
            roles.gmt_modified AS gmtModified
        FROM tbl_role AS roles
        WHERE roles.role_name = #{roleName}
        LIMIT 1;
    </select>
</mapper>
